Garmin.json
[{"id":"185e974e.b00079","type":"tab","label":"Garmin Forerunner","disabled":false,"info":""},{"id":"30097896.0b88a8","type":"http in","z":"185e974e.b00079","name":"","url":"/iotwatch","method":"post","upload":false,"swaggerDoc":"","x":230,"y":420,"wires":[["95b3b02c.1e443","b0637356.06725","e4cad7f0.0e9188","9d42a5b5.e74d28"]]},{"id":"b0637356.06725","type":"debug","z":"185e974e.b00079","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":340,"wires":[]},{"id":"95b3b02c.1e443","type":"http response","z":"185e974e.b00079","name":"","statusCode":"200","headers":{},"x":480,"y":420,"wires":[]},{"id":"14081a64.9d8f86","type":"ui_chart","z":"185e974e.b00079","name":"","group":"49c2e59a.9d5b2c","order":1,"width":0,"height":0,"label":"heartRate","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"50","ymax":"180","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":840,"y":540,"wires":[[]]},{"id":"60063dc4.1ba864","type":"ui_chart","z":"185e974e.b00079","name":"","group":"49c2e59a.9d5b2c","order":3,"width":0,"height":0,"label":"cadence","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"50","ymax":"190","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":840,"y":620,"wires":[[]]},{"id":"cee92975.ff8068","type":"ui_gauge","z":"185e974e.b00079","name":"","group":"41152421.d1e72c","order":2,"width":0,"height":0,"gtype":"gage","title":"cadence","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":840,"y":580,"wires":[]},{"id":"59e8f9ee.b58b38","type":"ui_chart","z":"185e974e.b00079","name":"","group":"49c2e59a.9d5b2c","order":4,"width":0,"height":0,"label":"speed","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":830,"y":700,"wires":[[]]},{"id":"4adb89bc.6949d8","type":"ui_gauge","z":"185e974e.b00079","name":"","group":"41152421.d1e72c","order":3,"width":0,"height":0,"gtype":"gage","title":"speed","label":"km/h","format":"{{value}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":660,"wires":[]},{"id":"e4cad7f0.0e9188","type":"function","z":"185e974e.b00079","name":"Split payload","func":"var msg1 = { payload:msg.payload.heartRate};\nvar msg2 = { payload:msg.payload.cadence };\nvar msg3 = { payload:msg.payload.speed };\nvar msg4 = { lat:msg.payload.latitude, lon:msg.payload.longitude };\n\n\nreturn [ msg1, msg2, msg3, msg4 ];","outputs":4,"noerr":0,"x":270,"y":560,"wires":[["9128f5da.4a7bd8","d6a83473.726178","62e5574f.0b3ca8"],["29afed0.2f6cc14","cee92975.ff8068"],["4adb89bc.6949d8","f73402e7.9dd31","176a70a3.9f1adf","7e698e1.65ae57"],["d9c82746.1e2eb8"]]},{"id":"9ff93664.3084c8","type":"debug","z":"185e974e.b00079","name":"","active":false,"console":"false","complete":"true","x":790,"y":780,"wires":[]},{"id":"d9c82746.1e2eb8","type":"function","z":"185e974e.b00079","name":"edit payload for map","func":"//var int ;\nlat  = msg.lat;\nlon = msg.lon;\n//color= \"aqua\";\n//iconColor =msg.payload.color;\nlayer= \"GPSData\";\ntime = new Date().toString();\n//var ID=ID+1;\nmsg.payload ={name:lat,lat,lon, layer,iconColor:\"BlueViolet\" };\nreturn msg;","outputs":"1","noerr":0,"x":500,"y":820,"wires":[["d0a40cb2.e525b","9ff93664.3084c8"]]},{"id":"176a70a3.9f1adf","type":"debug","z":"185e974e.b00079","name":"","active":false,"console":"false","complete":"true","x":270,"y":720,"wires":[]},{"id":"3e12b9b.8255246","type":"inject","z":"185e974e.b00079","name":"Clear Charts","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":650,"y":380,"wires":[["7e2432d5.e0a31c"]]},{"id":"7e2432d5.e0a31c","type":"function","z":"185e974e.b00079","name":"Reset Distance","func":"msg.payload = [];\nflow.set('total_distance','');\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":380,"wires":[["14081a64.9d8f86","60063dc4.1ba864","59e8f9ee.b58b38","cee92975.ff8068","4adb89bc.6949d8","9128f5da.4a7bd8","d6a83473.726178","9df40ce7.5a4ba"]]},{"id":"9128f5da.4a7bd8","type":"ui_gauge","z":"185e974e.b00079","name":"heartRate (Z3-Z4-Z5)","group":"41152421.d1e72c","order":1,"width":0,"height":0,"gtype":"gage","title":"heartRate (Z3-Z4-Z5)","label":"units","format":"{{value}}","min":"133","max":"190","colors":["#b4d8ad","#fcd58e","#facaca"],"seg1":"152","seg2":"171","x":880,"y":460,"wires":[]},{"id":"d6a83473.726178","type":"ui_gauge","z":"185e974e.b00079","name":"heartRate (Z1-Z2)","group":"41152421.d1e72c","order":1,"width":0,"height":0,"gtype":"gage","title":"heartRate (Z1-Z2)","label":"units","format":"{{value}}","min":0,"max":"133","colors":["#ecf4ee","#c0c0c0","#8bd0f9"],"seg1":"95","seg2":"114","x":870,"y":500,"wires":[]},{"id":"9d42a5b5.e74d28","type":"function","z":"185e974e.b00079","name":"Show timestamp","func":"msg.payload = new Date().toLocaleString();\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":260,"wires":[["19bc66a5.93e8f9"]]},{"id":"19bc66a5.93e8f9","type":"debug","z":"185e974e.b00079","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":260,"wires":[]},{"id":"f73402e7.9dd31","type":"function","z":"185e974e.b00079","name":"Calculate Distance","func":"total_dist = Number(flow.get('total_distance'));\ncurrent_dist = Number(msg.payload);\ntotal_dist = (total_dist + (current_dist/3600 * 5)).toFixed(3);\nflow.set('total_distance',total_dist);\nmsg.payload = total_dist;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":980,"wires":[["9df40ce7.5a4ba","efd1b70a.3346d8"]]},{"id":"9df40ce7.5a4ba","type":"ui_gauge","z":"185e974e.b00079","name":"","group":"41152421.d1e72c","order":3,"width":0,"height":0,"gtype":"gage","title":"distance","label":"m","format":"{{value}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":980,"wires":[]},{"id":"efd1b70a.3346d8","type":"debug","z":"185e974e.b00079","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":920,"wires":[]},{"id":"7e698e1.65ae57","type":"change","z":"185e974e.b00079","name":"","rules":[{"t":"set","p":"speed","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":700,"wires":[["59e8f9ee.b58b38"]]},{"id":"29afed0.2f6cc14","type":"change","z":"185e974e.b00079","name":"","rules":[{"t":"set","p":"cadence","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":620,"wires":[["60063dc4.1ba864"]]},{"id":"4c277f09.dbf45","type":"inject","z":"185e974e.b00079","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1580,"wires":[["f17cf138.7570c"]]},{"id":"f17cf138.7570c","type":"function","z":"185e974e.b00079","name":"Make Voice text","func":"var heartrate = flow.get('heartrate');\nvar speed = flow.get('speed');\nvar cadence = flow.get('cadence');\nmsg.payload = \" \" + heartrate + \"......\" + speed\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1580,"wires":[["78825d8c.3a97f4"]]},{"id":"78825d8c.3a97f4","type":"mqtt out","z":"185e974e.b00079","name":"","topic":"testTopicName","qos":"","retain":"","broker":"5025e0b2.9425","x":620,"y":1580,"wires":[]},{"id":"d0a40cb2.e525b","type":"worldmap","z":"185e974e.b00079","name":"World Map","lat":"51.0261","lon":"4.10076","zoom":"15","layer":"OSM","cluster":"","maxage":"","usermenu":"show","panit":"false","hiderightclick":"false","coords":"none","path":"","x":810,"y":840,"wires":[]},{"id":"62e5574f.0b3ca8","type":"change","z":"185e974e.b00079","name":"","rules":[{"t":"set","p":"heartrate","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":540,"wires":[["14081a64.9d8f86"]]},{"id":"49c2e59a.9d5b2c","type":"ui_group","z":"","name":"Chart","tab":"2ab16c77.d88f64","order":1,"disp":true,"width":6,"collapse":false},{"id":"41152421.d1e72c","type":"ui_group","z":"","name":"Gauges","tab":"2ab16c77.d88f64","order":2,"disp":true,"width":"6","collapse":false},{"id":"5025e0b2.9425","type":"mqtt-broker","z":"","name":"RabitMQ","broker":"caterpillar.rmq.cloudamqp.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2ab16c77.d88f64","type":"ui_tab","z":"","name":"IoTWatch","icon":"star","order":1,"disabled":false,"hidden":false}]